<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - 融云 Demo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RCloudMessage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>融云 Demo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A644795F1B1DAB5500EA2CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6447A131B1DBE6500EA2CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67C1B551AE13B4A009FBE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6814F891ADF6D5100D7904C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D40F271A031F460045097C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
